@use "../../styles/mixins" as *;

.header {
  background-color: var(--header-bg);
  overflow: hidden;
  padding: 1.5vw 2vw 1.5vw 3vw;
  position: sticky;
  top: 0;
  z-index: 1;
  @include flexboxSetup(flex, space-between, center);
  @media (max-width: 768px) {
    padding: 4vw 4vw 3vw 4vw;
  }

  h2 {
    font-size: 1.8vw;
    font-weight: bold;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 4vw;
    }
    @media (max-width: 1024px) and (min-width: 769px) {
      font-size: 3vw;
    }
  }
}
