@use "../../../styles/mixins" as *;

.navbar {
  @media (max-width: 768px) {
    ul {
      flex-direction: column;
      gap: 8px;
    }
  }

  ul {
    display: flex;
    gap: 2vw;
    list-style: none;
    @include marginPadding(0, 0);
    @media (max-width: 768px) {
      width: 5vw;
    }

    li {
      @media (max-width: 768px) {
        display: none;
      }

      a {
        display: block;
        font-size: 1.2vw;
        text-decoration: none;
        transition: color 0.3s;
        @media (max-width: 1024px) and (min-width: 769px) {
          font-size: 2vw;
        }
      }

      i {
        font-size: 1.1vw;
        margin: 0;
        @media (max-width: 768px) {
          font-size: 4vw;
        }
        @media (max-width: 1024px) and (min-width: 769px) {
          font-size: 2vw;
        }
      }
    }
  }

  .themeToggle {
    overflow: hidden;
    position: relative;
    @include widthHeight(3.7vw, 1.5vw);
    @media (max-width: 768px) {
      @include widthHeight(100%, 5vw);
      display: flex;
    }
    @media (max-width: 1024px) and (min-width: 769px) {
      height: 2.5vw;
    }

    .iconContainer {
      border-radius: 50%;
      cursor: pointer;
      flex-direction: column;
      position: absolute;
      top: 0.2vw;
      transform-style: preserve-3d;
      transition: transform 0.5s ease-in-out;
      @include flexboxSetup(flex, space-between, center);
      @include widthHeight(100%, 250%);
      &.locked {
        transform: rotate(-180deg);
      }
      @media (max-width: 768px) {
        border-radius: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: initial;
        @include widthHeight(100%, 200%);
      }
      @media (max-width: 1024px) and (min-width: 769px) {
        border-radius: 0;
      }
    }
  }
}
